.modal-backdrop-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-popup {
  background: #1f2937;
  color: #d1d5db;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1001;
}

.modal-content-popup .modal-header,
.modal-content-popup .modal-footer {
  border-bottom: 1px solid #374151;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-content-popup .modal-footer {
  border-top: 1px solid #374151;
  border-bottom: none;
  padding-top: 10px;
  margin-top: 10px;
}

.modal-content-popup .modal-header {
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-content-popup .modal-body {
  padding-top: 10px;
}

.modal-content-popup button {
  background: #4b5563;
  color: #d1d5db;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content-popup button:hover {
  background: #6b7280;
}
